<div class="card">
    <h2 class="card-title">{{name}}</h2>

    <div class="card-info">
        <div class="card-body">
            <p class="card-text">Capital: {{capital}}</p>
            <p class="card-text">Population: {{population}}</p>
            <p class="card-text">Languages: </p>

            <ul class="languages">

                {{#each languages}}
                <li class="languages-item">{{name}}</li>
                {{/each}}
            </ul>


        </div>

        <div class="card-img">
            <img src="{{flag}}" alt="{{name}}">
        </div>
    </div>
</div>